<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Code</th>
      <th>Desc</th>
      <th>Created</th>
      <th>Process</th>
    </tr>
  </thead>
  <tbody>
  	  <% advertisers.forEach(function(adv){ %>
        <tr>
          <td><%= adv.id %></td>
          <td><%= adv.title %></td>
          <td><%= adv.code %></td>
          <td><%= adv.desc %></td>
          <td><%= adv.createdDate %></td>
          <td>
            <a href="/advertisers/show/<%= adv.id %>">Show</a>
          	-
			       <a data-confirm="Are you sure?" data-method="DELETE" href="/advertisers/destroy/<%= adv.id %>" rel="nofollow">Destroy</a>
          	-
          	<a href="/advertisers/edit/<%= adv.id %>" >Edit</a> 
          </td>
        </tr>

     <% }); %>
  </tbody>
</table>