<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Code</th>
      <th>Desc</th>
      <th>Created</th>
      <th>Process</th>
    </tr>
  </thead>
  <tbody>
  	  <% creative_categories.forEach(function(cc){ %>
        <tr>
          <td><%= cc.id %></td>
          <td><%= cc.title %></td>
          <td><%= cc.code %></td>
          <td><%= cc.desc %></td>
          <td><%= cc.createdDate %></td>
          <td>
            <a href="/creative_categories/show/<%= cc.id %>">Show</a>
          	-
			       <a data-confirm="Are you sure?" data-method="DELETE" href="/creative_categories/destroy/<%= cc.id %>" rel="nofollow">Destroy</a>
          	-
          	<a href="/creative_categories/edit/<%= cc.id %>" >Edit</a> 
          </td>
        </tr>

     <% }); %>
  </tbody>
</table>