<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
            <% include ../partials/header %>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Video Formats Detail</h3>
        </div>
      </div>

      <div class="row">
      <div class="col-md-6">
        <% include ../partials/message %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

      <% if (typeof video_format != "undefined" &&  video_format != "" ){ %>


        <div class="col-sm-8 form-horizontal">

           <div class="form-group">
            <label  class="col-sm-2 control-label">Id</label>
            <div class="col-sm-6">
              <div class="form-control"><%= video_format.id %></div>
            </div>
          </div>


          <div class="form-group">
            <label  class="col-sm-2 control-label">Title</label>
            <div class="col-sm-6">
              <div class="form-control"><%= video_format.title %></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Desc</label>
            <div class="col-sm-6">
              <div class="form-control"><%= video_format.desc %></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Code</label>
            <div class="col-sm-6">
              <div class="form-control"><%= video_format.code %></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Created</label>
            <div class="col-sm-6">
              <div class="form-control"><%= video_format.createdDate %></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Updated</label>
            <div class="col-sm-6">
              <div class="form-control"><%= video_format.updatedDate %></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Process</label>
            <div class="col-sm-6 ">
                <div class="form-control">
                  <a  data-confirm="Are you sure?" data-method="DELETE" href="/video_formats/destroy/<%= video_format.id %>" rel="nofollow">Destroy</a>
                  -
                  <a href="/video_formats/edit/<%= video_format.id %>" >Edit</a> 
                </div>
            </div>
          </div>
          <hr>
          <p><a href="/video_formats/">All Video Formats</a></p>

        </div>

      <% } %>


      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <% include ../partials/footer %>
        </div>
    </div>

  </div>

</body>
</html>