	<form class="form-horizontal" action="<%= form_action_page %>" method="<%= form_method_type %>">

	  <div class="form-group">
	    <label  class="col-sm-2 control-label">Title</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" value="<%= creative.title %>" name="title" id="title" placeholder="Title">
	    </div>
	  </div>

	  <div class="form-group">
	    <label  class="col-sm-2 control-label">Desc</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" value="<%= creative.desc %>" name="desc" id="desc" placeholder="Desc">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Category</label>
	    <div class="col-sm-10">
	    	<% if (typeof creative_categories != "undefined" &&  creative_categories != "" ){ %>
				<select  class="form-control" name="creative_category" id="creative_category">
					<option value="">Lutfen Seciniz !</option>
					 <% creative_categories.forEach(function(cat){ %>
					 	 <% if (cat.id == creative.creative_category ) {  %>
					 	 	<option  selected="selected" value="<%= cat.id %>"><%= cat.title %></option>
					 	 <% } else { %>
							<option  value="<%= cat.id %>"><%= cat.title %></option>
						<% } %>
					<% }); %>
				</select>
		   	<% } %>
	    </div>
	  </div>

	  <hr>

	<div class="form-group">
		<label class="col-sm-2 control-label">Video URL</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" value="<%= creative.url %>" name="url" id="url" placeholder="Video URL">
	    </div>
	</div>


	<div class="form-group">
		<label class="col-sm-2 control-label">Video Format</label>
	    <div class="col-sm-10">
	    	
		  	<% if (typeof video_formats != "undefined" &&  video_formats != "" ){ %>
				<select  class="form-control" name="creative_category" id="creative_category">
					<option value="">Lutfen Seciniz !</option>
					 <% video_formats.forEach(function(vf){ %>
					 	 <% if (vf.id == creative.video_format ) {  %>
					 	 	<option  selected="selected" value="<%= vf.id %>"><%= vf.title %></option>
					 	 <% } else { %>
							<option  value="<%= vf.id %>"><%= vf.title %></option>
						<% } %>
					<% }); %>
				</select>
		   	<% } %>

	    </div>
	  </div>


	  <div class="form-group">
	    <label class="col-sm-2 control-label">Video Click URL</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" value="<%= creative.clickthrough_url %>" name="clickthrough_url" id="clickthrough_url" placeholder="Video Click URL">
	    </div>
	  </div>
	
 	<hr>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default ">Submit</button>
	      <button type="reset" class="btn btn-default ">Reset</button>
	      <div id="cancel_btn" class="btn btn-default">Cancel</div>
	    </div>
	  </div>


	</form>


